.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 50vw;
  justify-content: center;
  padding-top: 56px;
  align-items: center;
}

.headerSearchBox {
  display: flex;
  background:#e67e22;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}

.headerSearchBox .headerText {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.headerSearchBox .subHeaderText {
  color: white;
  font-size: 12px;
}

.headerSearchBox .textInput {
  width: 400px;
}

.beersListContainer {
  display: flex;
  z-index: 1;
  max-width: 850px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin-top: 50px;
}

@media (max-width: 845px) {
  .beersListContainer {
    margin-top: 0px;
  }
}


@media (max-width: 500px) {
  .beersListContainer {
    margin-top: 0px;
    padding: 10px 0px;
  }

  .headerSearchBox .textInput {
    width: 98%;
  }
}